
<div class="background">
    <img src="../images/manageadmin/topleft.jpg" class="left" alt=""/>
    <div style="background-image:url(../images/manageadmin/topbg.gif) " class="center"></div>
    <img src="../images/manageadmin/topright.jpg" class="right" alt=""/>
</div>
<div class="left">
    <img src="../images/manageadmin/logo.png" alt="" class="logo">
    <div class="options">
        <div class="option link" for dataListKey="adminTopBarLeftOptions">
            <img src="../images/manageadmin/${icon}" alt="">
            <div class="title">
                ${title}
            </div>
        </div>
    </div>
</div>
<div class="right">
    <div class="top">
        <img src="../images/manageadmin/help.png" alt="">
        <a href="" class="link">帮助</a>
        <a href="" class="about link">关于</a>
        <a href="" class="link">退出</a>
    </div>
    <div class="userBar">
        <img src="../images/manageadmin/user.png" alt="">
        <div class="text">用户未登录</div>
        <a class="text link">消息</a>
        <div class="redDot">5</div>
    </div>
</div>
