<div class="advantagesBar">
    <img src="../images/shop/gray${index}.jpg" number for="5" start="1" alt="">
</div>
<div class="moreLinkArea">
    <div class="linkCard" for dataListKey="moreLinks" addNumber="1">
        <div class="left">
            <img src="../images/shop/red${index}.jpg" alt="">
            <div class="verticalLine"></div>
        </div>
        <div class="right">
            <div class="title">${title}</div>
            <div class="link" child from="moreLinks" dataListKey="links">${item}</div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="content">
        <div>
            Copyright 2015·2020 Q-Walking Fashion E&S 漫步时尚广场（ QST 教育）版权所有
        </div>
        <div>
            中国青岛高新区河东路 8888 号青软教育集团咨询热线： 400-658-166 400-658-1022
        </div>
    </div>
    <img src="../images/index/foot_pic.jpg" alt="" class="icons">

</div>
